
  body {
    background-color: #F5F5F5
  }

  hr {
    background-color: #F5F5F5;
    border-style: dotted;
    border-color: grey;
    border-bottom-style: none;
    border-width: 8px;

    width: 5%;
    height: 0px;
  }

  h1 {
    color: #3FC1C9
  }
  h3 {
    color: #3FC1C9;
  }
